* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

:root {
    --color-primary: rgb(236, 223, 223);
    --color-main: #4831D4;

}

/****** style header portion for both index and work.html webpages *******/

header {
    background: linear-gradient(135deg, rgb(116, 117, 10), rgb(114, 12, 117));
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1%;
}

nav h3 {
    background-color: #0e615d;
    color: var(--color-primary);
    padding: 1%;
    font-weight: 900;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-left: 20%;   
}

nav ul li a {
    text-decoration: none;
    color: var(--color-primary);
    font-weight: 900;
}

/* added hover effect to header nav bar, footer, and to portfolio works */

nav ul li a:hover, #contact-me li:hover, .portfolio-card-description a:hover {
    box-shadow: rgb(185, 7, 37) inset 30px 60px
}

/* ******** styling main portion of both index.html and work.html ************* */

main {
    display: flex;
    background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #0e99b5 100%);  
    height: 100vh;
    min-width: 100vw;
    line-height: 1;
}

main h3 {
    font-size: 150%;
    font-family: 'Rubik', sans-serif;
    color: #CCF381;
    text-align: center;
}

main p {
    margin: 5%;
    line-height: 1.5;
    font-size: 130%;
    font-family: 'Quicksand', sans-serif;
    color: #dae2ca;
    font-weight: bold;

}

/* styling about-me section of index.html webpage containing description of myself */

#about-me {
    flex: 1 1 0;
    margin: 5% 0% 0% 5%;
    padding: 5%;
}

/* styling the sidebar of index.html webpage containing my profile picture */

#aside {
    background-image: linear-gradient(90deg, #020024 0%, #09791c 35%, #08ce08 100%);  
}

/* styling my profile picture */

figure {
    display: flex;
    justify-content: center;
}

figure img{
    width: 80%;
    border-radius: 10%;
    margin: 25% 10% 0% 0%; 
}

figure img:hover{
    box-shadow: inset 30px 60px

18px #CCF381,

0 0 15px rgb(34, 110, 11);
}

/********** stylling for work.html webpage *****************/

#portfolio {
    display: flex;
    font-size: 120%;
    font-family: 'Rubik', sans-serif;
    color: #392b86;
    text-align: center;
    background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #0e99b5 100%);  
    width: 95%;
    height: 85%;
    margin: 1%;
    padding-bottom: 39%;
    
}

#portfolio img {
    /* done so that image does not stretch over smaller screen sizes */
    max-width: 80px;
    margin-bottom: 27%;
    max-height: 150px;
    background-position: center;
    background-size: cover;
}

/* contains width of each of completed works  */
/* NOTE: this will be updated with more of my own works as we do more projects */

.portfolio-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    margin-top: 5%;
}

.portfolio-card-image {
    max-width: 100px;
}

.portfolio-card-description {
    font-size: 45%;
    font-weight: 900;
    margin-bottom: 5%;
    position: relative;
}


/* style the description for each project */
.portfolio-card-description a {
    min-width: 500px;
    color: #baff31;
    text-align: center;
    font-size: 120%;
    text-decoration: none;
    border-radius: 5px;
    padding: 3%;
    background-color: rgb(15, 108, 121);

}

/* ************ styling footer section of both index.html and work.html webpages  ************/
/* #contact-me = footer */
#contact-me {
    background-image: linear-gradient(90deg, #020024 0%, #09791c 35%, #08ce08 100%);  
    min-width: 100vw;
    height: 20vh;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    font-family: var(--font-primary);
    color: var(--color-primary);

}

#contact-me ul li {
    list-style-type: none;
    
}

#contact-me ul li a {
    color: var(--color-primary);
    margin-left: 2%;

}

.contact-me-email {
    text-decoration: underline;
}

/* *************************** responsive ************************************** */

  /* adjust responsiveness to adapt font sizes for both profile header and description */
  @media only screen and (max-width: 770px) {
    main p {
        font-size: 60%;
        
    }

    main h3 {
      font-size: 95%;
  }
}

/* adjust responsiveness for navbar */
@media only screen and (max-width: 630px) {
    nav ul li {
        margin-left: 10%;
    }

  }

/* adjust responsiveness for works part of the work.html */
/* maintain their aspect ratio so that images are not distorted for different screen sizes */

 /* responsiveness for nav bars, aside portion of main webpage, and footer */
  @media only screen and (max-width: 430px) {

    nav ul {
        padding-right: 16%;
    }
    nav ul li {
        margin: 0% 5% 0% 1%;
        font-size: 50%;
    }

    #aside {
        padding-right: 15%;
    }

    figure img {
        margin: 40% 0% 0% 20%;
        width: 100%;
    }

    #contact-me {
        padding: 8%;
    }

  }
  
